# /app
fastapi==0.95.0
uvicorn==0.21.1
pydantic==1.10.7
redis==4.5.4
psycopg2-binary==2.9.3
passlib==1.7.4
python-jose==3.3.0
sqlalchemy==1.4.39
python-multipart==0.0.12
# /tests
pytest==7.4.0
pytest-mock==3.11.1
httpx==0.24.1
coverage==7.2.7
locust==2.15.1
pytest-cov==4.1.0
bcrypt==4.0.1